IBM_CLOUD_API_KEY=your_ibm_cloud_api_key_here
WXO_INSTANCE_URL=https://api.eu-de.watson-orchestrate.cloud.ibm.com/instances/<your_instance_id>
WATSONX_AI_ENDPOINT=https://eu-de.ml.cloud.ibm.com/ml/v1/text/generation?version=2023-05-29
PROJECT_ID=your_watsonx_project_id_here
MODEL_ID=ibm/granite-4-h-small